ul{
	list-style-type: none;
}
body{ 
	width: 100%;
	height: 100%;
	margin: 5;
	padding: 5;
	background-image: url('../images/background.jpg');
	background-color: #000000;
	background-attachment: scroll;
	background-position: center top;
}
legend{
	font-weight:bold;
	text-transform:uppercase
}
label{
	font-variant: small-caps
}
input{
	text-align:center
}
td{
	text-align:center
}
#signup{
	background-image:url('../images/light.jpg'); 
	background-position:center
}
#left{
	float:left
}
#right{
	float:right
}